<div id="page">

  <div id="followers_all">
    <% if @followees.size>0 %>
        <h3>&nbsp;People you follow</h3>
        <% @followees.each do |f| %>

            <div id="follower_all">
              <%= link_to f.name, user_path(f.id) %>
            </div>
            <br/>

        <% end %>
           <%= will_paginate @followees %>
        <% else %>
        <h3>You have no followers.</h3>
    <% end %>

  </div>

</div>

